<h3>Student's talents</h3>
<table>
  <tr><th>Name</th><th>Talent</th><th>View Student</th></tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.talent_name %></td>
      <td><%= link_to 'Show complete details', student %></td>
    </tr>
  <% end %>
</table>

