<h3>Student's talents</h3>
<ul>
  <% @students.each do |student| %>
    <li><%= student.name %>: <%= student.talent_name %>

  <% end %>
</ul>

<h3>Talent's award</h3>
<ul>
  <% @talents.each do |talent| %>
    <li><%= talent.name %>: <%= talent.awards_description%>

  <% end %>
</ul>
<br>